body, html {
    height: 100%;
  }

#footer
{
margin-bottom: 0px;
}

#bg
{
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.main-wrapper {
    height: 100vh;  
  }
#container
{
    margin-bottom: 0px;
}